---
---

$distance-1: 1rem;

body {
	background-color: #fff;
	font-family: 'Source Code Pro', monospace;
}

.site-header {
	border-top: 0;
	border-bottom: 0;
}

.wrapper {
	max-width: calc(924px - (30px * 2));
}

.trigger {
	font-family: "Archivo Black", sans-serif;
}

// unstyle mobile about button
.site-nav {
    border: none;
    border-radius: 0;
}

.grid {
	margin-top: $distance-1;
}

.grid-item { 
	width: 286px;
	margin-bottom: $distance-1;

	img {
		width: 270px;
	}
}

.post__teaser {
	width: 100%;
}

.post-content__img {
	margin-top: 2 * $distance-1;
	width: 100%;
}
